.cuadrado{
    width:400px ;
    height: 400px;
    margin: auto;
    border-style: solid;
    background-color: bisque;
    margin-top: 100px;

}
.respuesta{
    width:200px ;
    height: 200px;
    margin: auto;
    border-style: solid;
    background-color: rgb(255, 196, 232);
    margin-top: 100px;

}